@import './variable';
@import './bootstrap';

body {
  background-color: $body-bg;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.content {
  background-color: $screen-bg;
  width: $content-width;
  padding: $content-padding-y $content-padding-x $content-padding-yb;
  position: relative;
  padding-bottom: calc(4rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}

.pointer {
  cursor: pointer;
}

.nx-margin {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.max-w-content {
  max-width: $content-width;
}
